.delivery{
    padding: 60px 0;
background-color: #fff;
    .container{
    display: flex;
    justify-content: space-between;

}
}

.delivery__text-wrapper{
    width: 536px;
    padding-left: 20px;
}

.delivery__title{
    font-family: "Poppins", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 60px;
margin-bottom: 10px;
}

.delivery__subtitle{
font-size: 18px;
font-weight: 500;
line-height: 26px;
margin-bottom: 20px;
width: 400px;

}

.delivery__text{
    width: 450px;
    opacity: 70%;
    margin: 0;
    &:nth-child(6){
    margin: 50px 0;
}
}

.delivery__img{
position: relative;
right: 40px;
border: 8px solid #2BA1FF;
height: 547px;
width: 598px;
border-radius: 10px;
img{
border-radius: 10px;

position: absolute;
left: 30px;
top: 30px;
height: 547px;
width: 598px;
}

   
}

.delivery__btn{
    color:  #444245;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: center;
border:1px solid #2BA1FF;
border-radius: 7px;
padding: 15px 40px;
text-decoration: none;

&:hover{
    background-color: #2BA1FF;
    color: #fff;
}
}


.mob{
    display: none;
}

@include breakpoint-down(480px){
   
    .delivery{
        .container{
       flex-direction: column-reverse;
    
    }
}
.delivery__title, .delivery__subtitle{
    text-align: center;
    width: 100%;
    display: none;
}
.delivery__img{
    width: 90%;
    height: 300px;
left: 0;
margin-bottom: 12px;
img{
    left: 20px;
    top: 20px;
    height: 300px;
}
}
    .delivery__text-wrapper{
        width: 100%;

        .delivery__text{
            width: 100%;
        }
    }
.delivery__btn{
    font-size: 16px;
font-weight: 500;
line-height: 30px;


}
    .mob{
        display: block;
    }
}