.navbar{
  padding: 34px 0;
}

.header__logo-wrapper{
display: flex;
align-items: center;
}

.header__menu{
  display: flex;
  align-items: center;
}

.header__phone{
  padding-left: 50px;
  color: #ffffff;
font-size: 18px;
line-height: 22px;
font-weight: 500;
&:hover{
  color: #ffffff;
}
}

.menu__item{
  padding-left: 40px;
}

.menu__link{
color: #ffffff;
font-size: 18px;
font-weight: 500;
line-height: 22px;
padding: 5px 0;
&:hover{
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
}